x<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center text-primary py-5">Registro de Clientes</h1>

  <div *ngIf="show" class="d-flex justify-content-center my-2">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      ></formly-form>
      <button
        type="submit"
        class="btn btn-outline-primary submit-button"
        [disabled]="!form.valid"
      >
        Crear
      </button>
    </form>
  </div>

  <div class="container mt-3">
    <!-- Ecabezado de tabla -->
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-dark bg-transparent">
          <a class="navbar-brand text-light">Tabla de clientes</a>
          <form class="form-inline">
            <button type="button" (click)="showForm()" class="btn">
              <em
                class="icon ion-ios-add-circle-outline"
                style="font-size: 2em;"
              ></em>
            </button>
          </form>
        </nav>
      </div>
    </div>
    <!-- Tabla -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cédula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Nacionalidad</th>
              <th scope="col">Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of clientes">
              <th scope="row" class="align-middle">{{ data.Cedula }}</th>
              <th scope="row" class="align-middle">
                {{ data.Nombre + ' ' + data.Apellido1 + ' ' }}
              </th>
              <th scope="row" class="align-middle">{{ data.Nacionalidad }}</th>
              <th scope="row" class="align-middle">{{ data.Correo }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

